body{
    margin:0;
    padding:0;
    background-color: #E1F5FE;
}
header{
    position:relative;
    margin-top: 50%;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(2,300px);
    background-color: #80DEEA;
    grid-template-areas:
    "topic topic topic topic menu menu menu out out"
    "topic topic topic topic menu menu menu out out";
}
header nav{
    padding-left:12%;
    display: inline-block;
}
header .topic{
    padding-bottom:3%;
    display: inline-block;
    grid-area:"topic";
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    border-right-color: 1px solid black;
}
header ul li{
    margin-right:24px;
    display: inline-block;
    grid-area:"menu";
    color: black;
    font-size: 1.3em;
    font-weight: bold;
}
header ul li:hover{
    opacity: 0.2;
}
header .out{
    padding-left:20%;
    display: inline-block;
    grid-area:"out";
    color:black;
    font-size:2em;
    font-weight: bold;
}
.aside{
    display: block;
    background-color: #E0F7FA;
    position:fixed;
    width:20%;
    height:100%;
    display: grid;
    grid-template-rows: repeat(9,1fr);
    grid-template-areas:
    "big"
    "big"
    "m1"
    "m2"
    "void"
    "m3"
    "m4"
    "m5"
}
.aside ul li{
    list-style: none;
    display:block;
    margin:0;
    padding-left:22px;
}
.aside ul li:hover{
    background-color: #81D4FA;
    color: white;
}
.aside .big{
    text-align: left;
    grid-area: "big";
    font-size:2rem;
    padding:20px;
    font-weight: bold;
}
.aside .list_1_1{
    grid-area: "m1";
    font-size: 1.25rem;
    padding:20px;
}
.aside .list_1_2{
    grid-area: "m2";
    font-size: 1.25rem;
    padding:20px;
}
.aside .void{
    grid-area:"void";
    padding:20px;
}
.aside .list_2_1{
    grid-area: "m3";
    font-size: 1.25rem;
    padding:20px;
}
.aside .list_2_2{
    grid-area: "m4";
    font-size: 1.25rem;
    padding:20px;
}
.aside .list_2_3{
    grid-area: "m5";
    font-size: 1.25rem;
    padding:20px;
}
.content .up{
    padding: 96px 400px;
    border-bottom:2px solid white;
    color:grey;
}
.content .up h1{
    font-size: 2rem;
    width:600px;
    font-weight:bold;
}
.content .up p{
    font-size: 1.25rem;
    width:600px;
    font-weight:bold;
    padding-top:100px;
}
.down #photo{
    width:500px;
    height:500px;
    background-color: white;
    border-radius: 20px;
    display: inline-block;
}
.down{
    padding-left: 800px;
    background-color: white;
    grid-template-columns: repeat(5,2fr);
    grid-template-rows:repeat(2,2fr);
    grid-template-areas:
    "m1 m2"
    "m3 m4"
    "m5";
}
.down .north1{
    grid-area: "m1";
}
