body{
    margin:0;
    padding:0;
    background-color: black;
}
header{
    position:relative;
    margin-top: 50%;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(2,300px);
    background-color: #1abe22;
    grid-template-areas:
    "topic topic topic topic menu menu menu out out"
    "topic topic topic topic menu menu menu out out";
}
header nav{
    padding-left:12%;
    display: inline-block;
}
li:nth-child(1){
    border-bottom: 2px solid black;
}
header .topic{
    padding-bottom:3%;
    display: inline-block;
    grid-area:"topic";
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    border-right-color: 1px solid black;
}
header ul li{
    margin-right:24px;
    display: inline-block;
    grid-area:"menu";
    color: black;
    font-size: 1.3em;
    font-weight: bold;
}
header ul li:hover{
    opacity: 0.2;
}
header .out{
    padding-left:20%;
    display: inline-block;
    grid-area:"out";
    color:black;
    font-size:2em;
    font-weight: bold;
}
.aside{
    display: block;
    background-color: #9E9E9E;
    position:fixed;
    top:10%;
    width:20%;
    height:100%;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-areas:
    "big"
    "big"
    "big"
    "m1"
    "m1"
    "m2"
    "m2"
    "void"
    "void"
    "m3"
    "m3"
    "m4"
    "m4"
    "m5"
    "m5"
    "m6"
    "m6";
}
aside ul li{
    list-style: none;
    display:block;
    margin:0;
}
.aside big{
    text-align: left;
    grid-area: "big";
    padding-left: 10px;
    font-size: 1.25rem;
}
.aside .list_1_1{
    grid-area: "m1";
}
.aside .list_1_2{
    grid-area: "m2";
}
