body{
    padding:0;
    margin:0;
    background-color: #424242;
}
.headline{
    position: fixed;
    height:10%;
    width: 100%;
    background-color: black;
    z-index: 10;
    box-shadow: 0px 0px 6px black;
}
.headline div{
    display: inline-block;
}
.topic{
    color:#00E676;
    font-size:2em;
    font-weight: bold;
    padding-left:2%;
    padding-top:1%;
    padding-right:10%;
    display: inline-block;
}
.headline nav{
    width:50%;
    display: inline-block;
}
.headline ul li{
    display: inline-block;
    color:#00E676;
    font-size:1.2em;
    margin-right:2%;
}
.headline ul li:hover{
    color:black;
    transition-duration: 1s;
}
.out{
    position:absolute;
    right: 20px;
    color:#00E676;
    font-size:2em;
    font-weight: bold;
    padding-top:1%;
    display: inline-block;
}
.compose{
    display: block;
}
.aside{
    margin:0;
    position: fixed;
    width:20%;
    background-color: #424242;
    top:10%;
    height: 100%;
    border-right:1px solid #00E676;
}
.aside *{
    padding:0%;
    color:#00E676;
    font-weight: bold;
    margin:0;
}
.aside div{
    padding:10%;
    font-size: 1.3em;
}
.aside li{
    padding:5% 10%;
}
.aside li:hover{
    margin:0;
    background-color: black;
    transition-duration: 1s;
}
.main_1 div{
    position: relative;
    left:21%;
    top:74px;
    width:1000px;
    padding:100px;
    background-color: #424242;
    font-size:2em;
    font-weight: bold;
    display:block;
    color:#00E676;
    border-bottom:2px solid #00E676;
    border-left: 2px #00E676;
}
.ar1{
    top:100px;
    position: relative;
    width:400px;
    height:365px;
    background-color: black;
    display: inline-block;
    padding:20px;
    left:24%;
    border-radius: 10px;
    box-shadow: 3px #00E676;
}
.ar1>div:first-child{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaEcdMJJXh7YxlUm44jon3H0AJFKKeKjMVFA&usqp=CAU");
    background-size: cover;
    width:400px;
    height:300px;
    border-radius: 3px;
}
.im1{
    background-image: url("https://lh3.googleusercontent.com/proxy/teeEUOuazZg39tSnuwvX8izgK9H6JV8kO2GiWNzm4PwGeYrcK7sd_HKcoOMYixkfsLbdFloAEGOdrJihebEmPQT--P1QfpeFQPyZJA8");
    border-radius: 100%;
    background-size: cover;
    height: 50px;
    width:50px;
    display: inline-block;
    text-align: left;
}
.im1:hover{
    background-image:url("https://news.kbs.co.kr/data/fckeditor/new/image/170526_eng03.jpg");
    transition-duration: 1s;
}
#Set1{display: inline-block;}
.name{
    font-weight: bold;
    color:#00E676;
}
.text{
    font-weight: 500;
    color:#00E676;
}
.ar2{
    top:100px;
    position: relative;
    width:400px;
    height:365px;
    background-color: black;
    display: inline-block;
    padding:20px;
    left:35%;
    border-radius: 10px;
    box-shadow: 3px #00E676;
}
.ar2>div:first-child{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbH5gKTBqVS9hyVHld7X9QVQ5soZugBCar9Q&usqp=CAU");
    background-size: cover;
    width:400px;
    height:300px;
    border-radius: 3px;
}
.ar3{
    top:650px;
    position: relative;
    width:400px;
    height:365px;
    background-color: black;
    display: inline-block;
    padding:20px;
    right:34.5%;
    border-radius: 10px;
    box-shadow: 3px #00E676;
}
.ar3>div:first-child{
    background-image: url("https://pbs.twimg.com/media/B5WKGAyCUAAKOQh.jpg");
    background-size: cover;
    width:400px;
    height:300px;
    border-radius: 3px;
}
.ar4{
    top:245px;
    position: relative;
    width:400px;
    height:365px;
    background-color: black;
    display: inline-block;
    padding:20px;
    left:64.5%;
    border-radius: 10px;
    box-shadow: 3px #00E676;
}
.ar4>div:first-child{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW6s-hGCkGOKR8UTVYjl67XKGT7sf8hqhz7A&usqp=CAU");
    background-size: cover;
    width:400px;
    height:300px;
    border-radius: 3px;
}
.ar5{
    top:800px;
    position: relative;
    width:400px;
    height:365px;
    background-color: black;
    display: inline-block;
    padding:20px;
    right:4.8%;
    border-radius: 10px;
    box-shadow: 3px #00E676;
}
.ar5>div:first-child{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTW_3jKBKw6LQDj1vMunufmYhJAJ8n4SzmPw&usqp=CAU");
    background-size: cover;
    width:400px;
    height:300px;
    border-radius: 3px;
}
.footer{
    background-color: black;
    position:absolute;
    width:100%;
    height:30%;
    z-index: 10;
    bottom: -192%;
    display: block;
}
.footer nav{
    padding:20px;
    text-align: center;
}
.footer ul li{
    display: inline-block;
    color:#00E676;
    font-size:1.2em;
    margin:70px 100px;
}
#sec1:hover{
    box-shadow: 0px 0px 5px #00E676;
}
