body{
    padding:0;
    margin:0;
    background-color: #424242;
}
.headline{
    position: fixed;
    height:10%;
    width: 100%;
    background-color: black;
}
.headline div{
    display: inline-block;
}
.topic{
    color:#00E676;
    font-size:2em;
    font-weight: bold;
    padding-left:2%;
    padding-top:1%;
    padding-right:10%;
    display: inline-block;
}
.headline nav{
    width:50%;
    display: inline-block;
}
.headline ul li{
    display: inline-block;
    color:#00E676;
    font-size:1.2em;
    margin-right:2%;
}
.headline ul li:hover{
    color:black;
    transition-duration: 1s;
}
.out{
    position:absolute;
    right: 20px;
    color:#00E676;
    font-size:2em;
    font-weight: bold;
    padding-top:1%;
    display: inline-block;
}
.compose{
    display: block;
}
.aside{
    position: fixed;
    width:20%;
    background-color: #424242;
    top:10%;
    height: 100%;
    border-right:1px solid #00E676;
}
.aside *{
    padding:5%;
    color:#00E676;
    font-weight: bold;
    
}
.aside div{
    padding:10%;
}
.main_1 div{
    left:20.1%;
    top:74px;
    width:1025px;
    padding:100px;
    background-color: #E0F7FA;
    font-size:2em;
    font-weight: bold;
    position:relative;
    display:block;
    border-bottom:1px solid #E0E0E0;
}
.ar1{
    position: relative;
    width:400px;
    height:400px;
    background-color: black;
    display: inline-block;
    padding:20px;
    left:24%;
    border-radius: 10px;
    box-shadow: 3px #00E676;
}
.ar1>div:first-child{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaEcdMJJXh7YxlUm44jon3H0AJFKKeKjMVFA&usqp=CAU");
    background-size: cover;
    width:400px;
    height:300px;
    border-radius: 3px;
}
.ar1 .im1{
    background-image: url("https://lh3.googleusercontent.com/proxy/teeEUOuazZg39tSnuwvX8izgK9H6JV8kO2GiWNzm4PwGeYrcK7sd_HKcoOMYixkfsLbdFloAEGOdrJihebEmPQT--P1QfpeFQPyZJA8");
    border-radius: 100%;
    background-size: cover;
    height: 50px;
    width:50px;
    display: inline-block;
    text-align: left;
}
#Set1{display: inline-block;}
.name{
    font-weight: bold;
    color:#00E676;
}
.text{
    font-weight: 500;
    color:#00E676;
}
