body{
    margin:0;
    padding:0;
    background-color: black;
}
ul>li{
    display: inline-block;
}
header{
    background-color: #9E9E9E;
    display: grid;
    grid-template-areas:
    "topic topic menu menu menu menu menu menu out"
    "topic topic menu menu menu menu menu menu out";
}
header.topic{
    display: inline-block;
    grid-area:"topic";
    color: #B388FF;
    font-size: 2em;
    font-weight: bold;
}
header>ul{
    grid-area:"menu";
    color: #B388FF;
    font-size: 2em;
    font-weight: bold;
}
header>.out{
    grid-area:"out";
    color:#B388FF;
    font-size:2em;
    font-weight: bold;
}
